@use '../variables' as *;
@use '../mixins' as *;

.Copy {
  padding: 20px;
  animation: copyColorChange 3000ms linear infinite;

  p {
    @include standard-margin-bottom;
    @include font-default;
    font-size: 18px;
    line-height: 1.1;
    color: $color-transparent !important;
  }

  @keyframes copyColorChange {
    0% {
      transform: rotate(0deg);
      background: radial-gradient($color-one, $color-two);
      background-clip: text;
    }
    25% {
      transform: rotate(90deg);
      background: radial-gradient($color-three, $color-four);
      background-clip: text;
    }
    50% {
      transform: rotate(180deg);
      background: radial-gradient($color-five, $color-six);
      background-clip: text;
    }
    75% {
      transform: rotate(270deg);
      background: radial-gradient($color-seven, $color-eight);
      background-clip: text;
    }
    100% {
      transform: rotate(360deg);
      background: radial-gradient($color-nine, $color-ten);
      background-clip: text;
    }
  }
}