@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Hero {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  @include standard-margin-bottom;

  
  @include respond-to('xl') {
    max-width: 1200px;
    height: 600px;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    transform: translate(-50%, -50%);
    @include font-bold;
    font-size: 38px;
    line-height: 1.1;
    text-align: center;
    
    @include respond-to('md') {
      font-size: 48px;
    }
  }
}