@use './variables' as *;
@use './mixins' as *;

body {
  margin: 0;
  background-color: light-dark($color-light, $color-dark);
  color: light-dark($color-dark, $color-light);
  @include font-default;
  overflow-x: hidden;

  @for $i from 1 through 10 {
    .mouse-follower:nth-child(#{$i}) {
      animation-delay: $i * 300ms;
      animation: mouseFollowerSpin $i * $animation-duration-standard linear infinite;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bold;
}

hr {
  margin: 0;
  background-color: $color-black;
}

strong {
  @include font-bold;
}

// Page
.app-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  max-width: 1px;
  height: 1px;
  max-height: 1px;
  z-index: 100;
  transform-origin: top center;
  animation: mouseFollowerSpin $animation-duration-standard linear infinite;

  .mouse-follower {
    margin: 20px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 46%;
  
    &:nth-child(1) {
      background-color: $color-1;
    }
    &:nth-child(2) {
      background-color: $color-2;
    }
    &:nth-child(3) {
      background-color: $color-3;
    }
    &:nth-child(4) {
      background-color: $color-4;
    }
    &:nth-child(5) {
      background-color: $color-5;
    }
    &:nth-child(6) {
      background-color: $color-6;
    }
    &:nth-child(7) {
      background-color: $color-7;
    }
    &:nth-child(8) {
      background-color: $color-8;
    }
    &:nth-child(9) {
      background-color: $color-9;
    }
    &:nth-child(10) {
      background-color: $color-10;
    }
  }
}

@keyframes mouseFollowerSpin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorTransform1 {
  0% {
    background: radial-gradient($color-1, $color-2);
    background-clip: text;
  }
  20% {
    background: radial-gradient($color-3, $color-4);
    background-clip: text;
  }
  40% {
    background: radial-gradient($color-5, $color-6);
    background-clip: text;
  }
  60% {
    background: radial-gradient($color-7, $color-8);
    background-clip: text;
  }
  80% {
    background: radial-gradient($color-9, $color-10);
    background-clip: text;
  }
}

@keyframes colorTransform2 {
  0% {
    background: radial-gradient($color-10, $color-9);
    background-clip: text;
  }
  20% {
    background: radial-gradient($color-8, $color-7);
    background-clip: text;
  }
  40% {
    background: radial-gradient($color-6, $color-5);
    background-clip: text;
  }
  60% {
    background: radial-gradient($color-4, $color-3);
    background-clip: text;
  }
  80% {
    background: radial-gradient($color-2, $color-1);
    background-clip: text;
  }
}