@use './variables' as *;
@use './mixins' as *;

body {
  margin: 0;
  background-color: light-dark($color-light, $color-dark);
  color: light-dark($color-dark, $color-light);
  @include font-default;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  @include font-bold;
}

hr {
  margin: 0;
  background-color: $color-black;
}

strong {
  @include font-bold;
}

// Page
.app-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}
