// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-max: 1600px;

// Misc
$site-max-width: 1300px;

// Colors
$color-black: #000;
$color-white: #fff;
$color-dark: #0a0a0a;
$color-light: #ededed;
$color-transparent: rgba(0, 0, 0, 0);
$color-1: #fff700;
$color-2: #aeaeae;
$color-3: #f3de67;
$color-4: #11236a;
$color-5: #ff5e00;
$color-6: #c3a831;
$color-7: #c2cc05;
$color-8: #cce4df;
$color-9: #2c10b5;
$color-10: #8B8C7A;

// Animation Durations
$animation-duration-hover: 300ms;
$animation-duration-standard: 6000ms;

// Margins
$margin-bottom-sm: 10px;
$margin-bottom-md: 20px;

// z-index
$z-index-header: 1000;
$z-index-nav: 1001;
$z-index-nav-btn: 1002;
$z-index-modal: 1100;
$z-index-preloader: 1200;
$z-index-loader: 900;
$z-index-alert: 2000;

// Fonts
$font-default: 16px;
