@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Copy {
  overflow: hidden;
  @include standard-margin-bottom;

  .container {
  
    p {
      margin: 0;
      @include standard-margin-bottom;
      @include font-default;
      font-size: 18px;
      line-height: 1.1;
      color: $color-transparent;
      text-align: center;
      animation: colorTransform1 $animation-duration-standard linear infinite;
    }
  }
}