@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: light-dark($color-light, $color-dark);
  z-index: $z-index-nav;

  .Nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    .Nav__logo {
      display: flex;
      align-items: center;
      animation: navItemHoverColor $animation-duration-standard linear infinite;

      &:hover {
        animation: navItemColor $animation-duration-standard linear infinite;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    nav {
      display: flex;
      align-items: center;

      a {
        margin: 0 10px;
        @include font-bold;
        font-size: 18px;
        line-height: 1.1;
        color: $color-transparent;
        text-decoration: none;
        animation: navItemColor $animation-duration-standard linear infinite;

        &:hover {
          animation: navItemHoverColor $animation-duration-standard linear infinite;
        }
      }
    }

    @keyframes navItemColor {
      0% {
        transform: rotate(0deg);
        background: radial-gradient($color-1, $color-2);
        background-clip: text;
      }
      25% {
        transform: rotate(90deg);
        background: radial-gradient($color-3, $color-4);
        background-clip: text;
      }
      50% {
        transform: rotate(180deg);
        background: radial-gradient($color-5, $color-6);
        background-clip: text;
      }
      75% {
        transform: rotate(270deg);
        background: radial-gradient($color-7, $color-8);
        background-clip: text;
      }
      100% {
        transform: rotate(360deg);
        background: radial-gradient($color-9, $color-10);
        background-clip: text;
      }
    }

    @keyframes navItemHoverColor {
      0% {
        transform: rotate(-0deg);
        background: radial-gradient($color-10, $color-9);
        background-clip: text;
      }
      25% {
        transform: rotate(-90deg);
        background: radial-gradient($color-8, $color-7);
        background-clip: text;
      }
      50% {
        transform: rotate(-180deg);
        background: radial-gradient($color-6, $color-5);
        background-clip: text;
      }
      75% {
        transform: rotate(-270deg);
        background: radial-gradient($color-4, $color-3);
        background-clip: text;
      }
      100% {
        transform: rotate(-360deg);
        background: radial-gradient($color-2, $color-1);
        background-clip: text;
      }
    }
  }
}